
#h1
{
    color: red;
    background-color: black;
    font-size: 120px;
    border-radius: 30px;
    margin:5% 5%;
    padding: 30px;
}
.font-size
{
    font-size: 50px;
}
.background-color
{
    background-color: aquamarine;
}
#p1
{
    color:blue;
    font-size: 70px;
    background-color: rgba(156, 167, 199, 0.5);
    border-radius: 50px;
    text-indent: 13%;
    margin: auto;
    padding: 2%;
    text-shadow: 6px 5px 5px black;
}
.background-image
{
    background-image:url("image/taj mahal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.border
{
    border-style: solid;
    border-color: black;
    border-width: 10px 5px;
    
}
#img
{
    border-radius: 70px;
    padding: 40px;
}
#text
{
    writing-mode: vertical-lr;
    border-style:dotted ;
    border-color: red;
    border-radius: 30px;
    background-color: blue;
}
a{
    text-decoration: none;
 
 }
a:link{
    color: red;
}
a:visited{
    color: black;
}
a:hover{
    color:blue;
}
a:active{
    color: blueviolet;
}
a{
    border: solid;
    background-color: chartreuse;
    
}