.wrapper
{
    width: 100vw;
    height: 1000px;
    background-color: yellow;
}
div{
    display: inline-block;
    height: 200px;
    width: 200px;
    background-color: aqua;
    border: 2px solid black;
}
.box1
{
    position: relative;
    top: 50px;
    bottom: 30px;
    left: 40px;
}
.box4
{
position: fixed;
}
.box2
{
    position: absolute;
    top: 100px;
    left: 200px;
}